*.log
.env
composer.phar
.DS_Store
Thumbs.db

# IDE
/.idea
/.vscode
/.settings
/.buildpath
/.project

# Dependencies
/vendor

# Runtime
/runtime/*
!/runtime/.gitignore

# Storage
/public/storage/*
!/public/storage/.gitignore

# AI Tools
/.claude
/.zencoder
/.zenflow
/.kiro
tmpclaude-*-cwd
